---
import { claimStatus } from '../data/site';

type ClaimStatusKey = keyof typeof claimStatus;

interface Props {
  status: ClaimStatusKey;
}

const { status } = Astro.props;
---

<span class:list={['claim-status', `claim-status--${status}`]}>
  {claimStatus[status]}
</span>
