---
interface Layer {
  title: string;
  description: string;
}

interface Props {
  layers: readonly Layer[];
}

const { layers } = Astro.props;
---

<figure class="operating-boundary" data-reveal>
  <figcaption class="operating-boundary__label">Operating boundary</figcaption>

  <ol class="operating-boundary__layers">
    {
      layers.map((layer, index) => (
        <li class="operating-boundary__layer">
          <span class="operating-boundary__index" aria-hidden="true">{String(index + 1).padStart(2, '0')}</span>
          <div class="operating-boundary__copy">
            <h3>{layer.title}</h3>
            <p>{layer.description}</p>
          </div>
        </li>
      ))
    }
  </ol>

  <span class="operating-boundary__edge operating-boundary__edge--top" aria-hidden="true"></span>
  <span class="operating-boundary__edge operating-boundary__edge--bottom" aria-hidden="true"></span>
  <span class="operating-boundary__corner operating-boundary__corner--tl" aria-hidden="true"></span>
  <span class="operating-boundary__corner operating-boundary__corner--tr" aria-hidden="true"></span>
  <span class="operating-boundary__corner operating-boundary__corner--bl" aria-hidden="true"></span>
  <span class="operating-boundary__corner operating-boundary__corner--br" aria-hidden="true"></span>
</figure>
