---
interface Step {
  title: string;
  description: string;
}

interface Props {
  steps: readonly Step[];
}

const { steps } = Astro.props;
---

<ol class="process-flow">
  {
    steps.map((step) => (
      <li class="process-flow__step" data-reveal>
        <h3>{step.title}</h3>
        <p>{step.description}</p>
      </li>
    ))
  }
</ol>
